<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--CEF的环境变量-->
    <add key="CefLibDir" value="Resources\HSUCF\Cef75"/>
    <add key="PluginDir" value="Menu"/>
    <add key="ComponentDir" value="Menu"/>
    <!--Dock框架变量-->
    <add key="LayoutsDir" value="Local\Config\IntegratedScreenLayout"/>
    <add key="ModuleListDir" value="Local\Config\IntegratedScreenModule"/>
    <add key="FlexLayoutsDir" value="Local\Config\FlexScreenLayout"/>
    <add key="FlexListDir" value="Local\Config\FlexScreenModule"/>
    <add key="ModuleDir" value="Common\Module"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes">
      </publisherPolicy>
      <probing privatePath="Resources\HSUCF;Resources\H5Sdk;Resources\msvc;Resources\Language;Resources\Skin;Resources;Resources\Others;Resources\Others\FormulaTool;Framework;Menu;PlatForm;Common;Implement;Resources\IUV\Common;Resources\IUV\Engine;Resources\IUV\Quote;Resources\IUV\Tool"/>
    </assemblyBinding>
  </runtime>
</configuration>