<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="HSUCF;Others" />
        </assemblyBinding>
    </runtime>
    <appSettings>
        <!--更新窗体配置 begin-->
        <!--更新窗体中英文标题-->
        <add key="title_zh-CN" value="系统升级"/>
        <add key="title_zh-HK" value="系統升級"/>
        <add key="title_en" value="System Update"/>
        <!--更新失败时重试次数及重试倒计时长(单位：秒)-->
        <add key="retry_time" value="5"/>
        <add key="retry_countdown" value="0"/>
        <!--更新完成时重启主程序倒计时长(单位：秒)-->
        <add key="restart_countdown" value="50"/>
        <!--是否显示dgv复选框，不显示复选框时显示行标题-->
        <add key="show_checkbox" value="false"/>
        <!--更新管理工具程序名-->
        <add key="manager" value="HSUCF.WPF.UpdateManager.exe"/>
        <!--更新窗体是否置顶, 默认false-->
        <add key="topmost" value="false"/>
        <!--是否隐藏更新列表-->
        <add key="IsHideList" value="false"/>
        <!--自动开始更新, 默认false-->
        <add key="auto_begin" value="false"/>
        <!--皮肤配置文件-->
        <add key="theme" value="DarkForUpdate.xaml"/>
        <!--自动更新进度提示格式字符串-->
        <add key="update_status_notice_format_zh-CN" value="{0}个更新中的{1}个已成功完成"/>
        <add key="update_status_notice_format_zh-HK" value="{0}個更新中的{1}個已成功完成"/>
        <add key="update_status_notice_format_en" value="{0} of the {1} updates have been successfully completed"/>
        <!--更新窗体配置 end-->
        <!--<add key="IsMultThreadUpdate" value="false"/>-->
        <add key="UpdateUri" value=""/>
        <!--是否禁用硬件加速-->
        <add key="SoftwareOnly" value="false"/>
    </appSettings>
</configuration>
