<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <!--备份路径设置-->
        <add key="backupPath" value="..\update\backup"/>
        <!--宿主程序路径设置，回滚程序用-->
        <add key="applicationPath" value="..\"/>
        <!--最大备份版本数设置，最小1，最大20，超出取最大最下值-->
        <add key="backupCount" value="3"/>
        <!--指定DLL查找目录，默认在当前目录下，为空-->
        <add key="NoHostPath" value=""/>
        <!--备份模式，0-全量，1-增量，2-不备份，默认0-->
        <add key="backupMode" value="2"/>
        <!--备份过滤条件,除去默认条件的其他过滤条件 格式：|.aaa|XXX.bbb|.ccc-->
        <add key="backupFilter" value=""/>
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="HSUCF;Others"/>
        </assemblyBinding>
    </runtime>
</configuration>
